<section class="p-live">
  <div class="p-live__container">
    <h1 class="p-live__title">LIVE</h1>
    <div class="p-live__information">
      <p class="p-live__text">現在ライブ情報はありません</p>
    </div>
  </div>
</section>