<section class="p-profile">
  <div class="p-profile__container">
    <h1 class="p-profile__title">PROFILE</h1>
    <div class="p-profile__artPhoto">
      <%= image_tag 'profile/rito-profile1.png', class: 'p-profile__photoImage' %>
    </div>
    <h2 class="p-profile__name">雪平 梨斗 / Yukihira Rito</h2>
    <div class="p-profile__sns">
      <%=link_to "", "https://www.instagram.com/rito_yukihira/", class:"p-profile__instagram" %>
      <%=link_to "", "https://twitter.com/rito_yukihira/", class:"p-profile__twitter" %>
      <%=link_to "", "https://www.youtube.com/channel/UCNzRNLK3_b4BeQTzTI_Cb5Q", class:"p-profile__youtube" %>
    </div>
    <p class="p-profile__description">
      11月11日生まれ。
      歌、MIX、動画編集、Webアプリケーション開発。<br>
      2020年8月13日に「幽霊東京」を初投稿し活動開始。<br>
      コラボやオリジナル動画など積極的に投稿し、常にクオリティの高い作品を作り続けている。<br>
      2021年8月13日活動1周年記念にオリジナル楽曲「深夜水族館」を投稿。<br>
      2021年12月17日にTwitterのフォロワー1000人を達成。<br>
    </p>
  </div>
</section>