@import 'variable';

.l-footer{
  display: flex;
  justify-content: center;

  @include mq(tab) {
    margin-top: 200px;
    padding-bottom: 30px;
  }
  @include mq(sp) {
    margin-top: 20px;
    padding-bottom: 10px;
  }
  
  &__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90px;
    background-color: rgba(255,255,255,0.7);
    border-top: 1px solid gray;
  }
  &__sns{
    display: flex;
    padding-right: 15px;
  }
  &__LINE{
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('LINE-logo.png');
  }
  &__tiktok{
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('tiktok-logo.png');
    margin-left: 15px;
  }
  &__niconico{
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('niconico-logo.png');
    margin-left: 15px;
  }
  &__copyright{
    padding-left: 10px;
  }
  &__text{
    font-size: 11px;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    font-family: 'Maven Pro',sans-serif;
    font-weight: 800;
  }
}