@import 'variable';

.l-footer{
  display: flex;
  justify-content: center;

  @include mq(tab) {
    margin-top: 50px;
    padding-bottom: 30px;
  }
  @include mq(sp) {
    margin-top: 20px;
    padding-bottom: 10px;
  }
  
  &__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90px;
    background-color: rgba(255,255,255,0.7);
    border-top: 1px solid gray;
  }
  &__sns{
    display: flex;
    padding-right: 15px;
  }
  &__LINE{
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('LINE-logo.png');
  }
  &__tiktok{
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('tiktok-logo.png');
    margin-left: 15px;
  }
  &__niconico{
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('niconico-logo.png');
    margin-left: 15px;
  }
  &__copyright{
    padding-left: 10px;
  }
  &__text{
    font-size: 11px;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    font-family: 'Maven Pro',sans-serif;
    font-weight: 800;
  }
  &__info{
    margin-left: 20px;
  }
  &__menu{
    display: flex;
  }
  &__list{
    &:nth-child(2){
      margin-left: 10px;
    }
  }
  &__link{
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    color: rgb(53, 161, 255);
    font-size: 11px;
    font-size: 1.1rem;
  }
}