@import 'variable';

.l-header{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  
  &__container{
    display: flex;
    width: 90%;
    height: 120px;
    background-color: rgba(255,255,255,0.7);
    border-bottom: 1px solid gray;
  }
  &__logo{
    display: flex;
    align-items: center;
    height: 120px;
  }
  &__logoIcon{
    @include mq(tab) {
      width: 160px;
      height: 80px;
    }
    @include mq(sp) {
      width: 120px;
      height: 60px;
    }
  }
  &__pcNav{
    @include mq(tab) {
      display:flex;
      align-items: center;
      margin-left: auto;
    }
    @include mq(sp) {
      display: none;
    }
  }
  &__list{
    display: flex;
  }
  &__item{
    &:not(:first-child){
      margin-left: 15px;
    }
    &:last-child{
      margin-right: 15px;
    }
  }
  &__text{
    font-size: 12px;
    font-size: 1.2rem;
    text-decoration: none;
    color:rgb(55, 135, 201);
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-weight: 800;
  }
  &__sns{
    @include mq(tab) {
      display: flex;
      align-items: center;
      padding-right: 15px;
    }
    @include mq(sp) {
      display: none;
    }
  }
  &__instagram{
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('instagram-logo.png');
  }
  &__twitter{
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('twitter-logo.png');
    margin-left: 15px;
  }
  &__youtube{
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('youtube-logo.png');
    margin-left: 15px;
  }
}

/* PCでは非表示にしておく */
.nav_toggle,
.nav {
  display: none;
}

/* スマホサイズで見た場合のスタイル */
@include mq(sp) {
  /* ハンバーガーのマーク */
  .nav_toggle {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    margin: auto 20px auto auto;
    z-index: 3;
  }
  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
  }
  .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }

  /* クリックされた後のハンバーガーのマーク */
  .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }

  /* クリックで表示されるメニュー：クリックされる前 */
  .nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    background-color: #fff;
    z-index: 2;
    height: 350px;
  }
  .nav_menu_li {
    margin-bottom: 30px;
    border-bottom: 1px dotted #333;
  }
  .nav_menu_li a {
    color: skyblue;
    text-decoration: none;
  }

  /* クリックで表示されるメニュー：クリックされた後 */
  .nav.show {
    opacity: 1;
    visibility: visible;
  }
}