<section class="p-news">
  <div class="p-news__container">
    <h1 class="p-news__title">NEWS</h1>
    <div class="p-news__success">
      <h3 class="p-news__message">削除が完了しました。</h3>
      <div class="p-news__backPost">
        <%=link_to  "投稿一覧へもどる", news_index_path, class:"p-news__backLink" %>
      </div>
    </div>
  </div>
</section>