<div class="p-thanks">
  <div class="p-thanks__container">
    <h1 class="p-contact__title">CONTACT</h1>
    <div class="p-thanks__message">
      <p class='p-thanks__text'>お問い合わせありがとうございました</p>
      <%= link_to 'トップページへ戻る', root_path, class:"p-thanks__link" %>
    </div>
  </div>
</div>