@import 'variable';

.p-thanks{
  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__message{
    height: 100vh;
    display: flex; 
    align-items: center;
    flex-direction: column;
  }
  &__text{
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    color: black;
    margin-top: 100px;
    @include mq(tab) {
      font-size: 25px;
      font-size: 2.5rem;
    }
    @include mq(sp) {
      font-size: 20px;
      font-size: 2.0rem;
    }
  }
  &__link{
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    margin-top: 50px;
    color: rgb(53, 161, 255);
    font-size: 15px;
    font-size: 1.5rem;
  }
}

