@import 'variable';

.p-home{
  margin-top: 55px;
  @include mq(tab) {
    height: 1800px;
  }
  @include mq(sp) {
    height: 1800px;
  }
  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__hero{
    @include mq(tab) {
      height: 560px;
      max-width: 960px;
      width: 100%;
    }
    @include mq(sp) {
      max-width: 480px;
      width: 100%;
    }
  }
  &__slider{
    overflow: hidden;
    @include mq(tab) {
      width: 3840px;
    }
    @include mq(sp) {
      width: 1260px;
    }
  }
  &__sliderImage{
      height: 100%;
      width: 100%;
  }
  &__wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 80px;
  }
  &__news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    background-color: rgba(255,255,255,0.6);
    @include mq(tab) {
      width: 45%;
    }
    @include mq(sp) {
      width: 100%;
    }
  }
  &__newsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
    @include mq(tab) {
      height: 400px;
    }
    @include mq(sp) {
      height: 150px;
    }
  }
  &__newsLink{
    width: 95%;
    border-bottom: 1px solid gray;
    text-decoration: none;
  }
  &__newsTitle{
    display: flex;
    align-items: center;
    color:rgb(55, 135, 201);
    @include mq(tab) {
      font-size: 20px;
      font-size: 2.0rem;
      height: 100px;
    }
    @include mq(sp) {
      font-size: 15px;
      font-size: 1.5rem;
    }
  }
  &__more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 10px auto 20px;
    border: 1px solid gray;
  }
  &__moreLink{
    color:rgb(55, 135, 201);
    padding: 15px 0;
    text-decoration: none;
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    font-weight: 800;
    @include mq(tab) {
      font-size: 20px;
      font-size: 2.0rem;
    }
    @include mq(sp) {
      font-size: 15px;
      font-size: 1.5rem;
    }
  }

  &__twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    background-color: rgba(255,255,255,0.6);
    @include mq(tab) {
      height: 500px;
      width: 45%;
      margin-left: 3%;
    }
    @include mq(sp) {
      width: 100%;
      margin-top: 15px;
    }
  }
  &__twitterBox{
    @include mq(tab) {
      height: 360px;
      width: 95%;
    }
    @include mq(sp) {
      height: 340px;
      width: 100%;
    }
  }
  &__movie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    background-color: rgba(255,255,255,0.6);
    @include mq(tab) {
      width: 45%;
      margin-top: 100px;
    }
    @include mq(sp) {
      width: 100%;
      margin-top: 15px;
    }
  }
  &__movieBox{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 20px;
  }
  &__jacket{
    width: 100%;
  }
  &__picture{
    width: 100%;
  }
  &__jacketTitle{
    text-align: center;
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    @include mq(tab) {
      font-size: 20px;
      font-size: 2.0rem;
      margin-top: 20px;
    }
    @include mq(sp) {
      font-size: 15px;
      font-size: 1.5rem;
    }
  }
  &__jacketText{
    text-align: center;
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    @include mq(tab) {
      font-size: 13px;
      font-size: 1.3rem;
    }
    @include mq(sp) {
      margin-top: 5px;
      font-size: 15px;
      font-size: 1.5rem;
    }
  }
  &__goods{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    background-color: rgba(255,255,255,0.6);
    @include mq(tab) {
      width: 45%;
      height: 500px;
      margin-top: 100px;
      margin-left: 3%;
    }
    @include mq(sp) {
      width: 100%;
      margin-top: 15px;
    }
  }
  &__goodsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
  }
  &__stampBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  &__stamp{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 10px;
  }
  &__stampIcon{
    @include mq(tab) {
      width: 60%;
    }
    @include mq(sp) {
      width: 40%;
    }  }
  &__stampTitle{
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    @include mq(tab) {
      font-size: 20px;
      font-size: 2.0rem;
      margin-top: 20px;
    }
    @include mq(sp) {
      margin-top: 5px;
      font-size: 15px;
      font-size: 1.5rem;
    }
  }

//共通部分
  &__title{
    margin-top: 20px;
    font-size: 30px;
    font-size: 3.0rem;
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border: 1px solid gray;
    margin: 20px 0;
    @include mq(tab) {
      height: 400px;
    }
  }

//slick矢印アイコン
  .slick-prev,.slick-next{
    width: 60px;
    height: 60px;
  }
  .slick-prev::before,
  .slick-next::before{
  color:#000;
    @include mq(tab) {
      font-size:60px;
    }
    @include mq(sp) {
      font-size: 40px;
    }
  }

  .slick-next {
    @include mq(tab) {
      right: 30px;
    }
    @include mq(sp) {
      right: 10px;
    }
  }
  .slick-prev {
    left: 10px;
    z-index: 1;
  }
}

