.p-home{
  margin-top: 55px;

  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__hero{
    width: 1000px;
    height: 565px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.6);
  }
  .a{
    height: 500px;
    width: 1000px;
  }
  .b{
    width: 3000px;
    overflow: hidden;
  }
  .c{
    margin: auto;
    height: 500px;
    width: 1000px;
  }
  &__wrap{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 1100px;
    margin-top: 80px;
  }
  &__wrap{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 1100px;
    margin-top: 80px;
  }
  &__news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    height: 500px;
    border: 1px solid gray;
    background-color: rgba(255,255,255,0.6);
  }
  &__newsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 95%;
  }
  &__newsTitle{
    display: flex;
    align-items: center;
    height: 100px;
    width: 95%;
    font-size: 20px;
    font-size: 2.0rem;
    border-bottom: 1px solid gray;
  }
  &__more{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 95%;
    margin: 10px 0;
    border: 1px solid gray;
  }
  &__moreBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-size: 2.5rem;
  }

  &__twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    height: 500px;
    margin-left: 3%;
    border: 1px solid gray;
    background-color: rgba(255,255,255,0.6);

  }
  &__title{
    font-size: 40px;
    font-size: 4.0rem;
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
  &__movie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    height: 500px;
    margin-top: 100px;
    border: 1px solid gray;
    background-color: rgba(255,255,255,0.6);
  }
  &__movieBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
  }
  &__jacket{
    width: 95%;
  }
  &__picture{
    width: 100%;
  }
  &__jacketTitle{
    margin-top: 15px;
    font-size: 30px;
    font-size: 3.0rem;
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
  &__jacketText{
    font-size: 25px;
    font-size: 2.5rem;
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  }
  &__goods{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    height: 500px;
    margin-top: 100px;
    margin-left: 3%;
    border: 1px solid gray;
    background-color: rgba(255,255,255,0.6);
  }
  &__goodsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
  }
  &__stampBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  &__stamp{
    display: flex;
    justify-content: center;
    width: 50%;
    &:nth-child(n+3){
      margin-top: 10px;
    }
  }
  &__stampIcon{
    width: 60%;
  }
  &__stampTitle{
    font-size: 25px;
    font-size: 2.5rem;
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    margin-top: 20px;
  }
  &__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 400px;
    border: 1px solid gray;
  }
}