@import 'variable';

.p-movie{
  @include mq(tab) {
    height: 2000px;
  }
  @include mq(sp) {
    height: 100%;
  }
  &__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__title{
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    @include mq(tab) {
      margin-top: 100px;
      font-size: 40px;
      font-size: 4.0rem;
    }
    @include mq(sp) {
      margin-top: 20px;
      font-size: 30px;
      font-size: 3.0rem;
    }
  }
  &__hero{
    @include mq(tab) {
      margin-top: 100px;
      max-width: 960px;
      width: 100%;
    }
    @include mq(sp) {
      margin-top: 20px;
      max-width: 480px;
      width: 100%;
    }
  }
  &__slider{
    overflow: hidden;
    @include mq(tab) {
      width: 3840px;
    }
    @include mq(sp) {
      width: 1260px;
    }
  }
  &__sliderMovie{
    width: 100%;
    @include mq(tab) {
      height: 500px;
    }
    @include mq(sp) {
      height: 300px;
    }
  }
  &__best{
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    @include mq(tab) {
      margin-top: 50px;
      font-size: 35px;
      font-size: 3.5rem;
    }
    @include mq(sp) {
      margin-top: 25px;
      font-size: 25px;
      font-size: 2.5rem;
    }
  }
  &__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    @include mq(tab) {
      margin-top: 50px;
    }
    @include mq(sp) {
      margin-top: 25px;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    
    @include mq(tab) {
      flex-basis: 32%;
      &:not(:nth-child(3n+1)){
        margin-left: 1%;
      }
      &:nth-child(n+4){
        margin-top: 30px;
      }
    }
    @include mq(sp) {
      flex-basis: 48%;
      &:nth-child(2n){
        margin-left: 1%;
      }
      &:nth-child(n+3){
        margin-top: 20px;
      }
    }
  }
  &__thumbnail{
    height: 100%;
    width: 100%;
  }
  &__text{
    font-family: "Times New Roman", "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    text-align: center;
    margin-top: 5px;
    @include mq(tab) {
      font-size: 12px;
      font-size: 1.2rem;
    }
    @include mq(sp) {
      font-size: 15px;
      font-size: 1.5rem;
    }
  }
  //slick矢印アイコン
  .slick-prev,.slick-next{
    width: 60px;
    height: 60px;
  }
  .slick-prev::before,
  .slick-next::before{
  color:#000;
    @include mq(tab) {
      font-size:60px;
    }
    @include mq(sp) {
      font-size: 40px;
    }
  }

  .slick-next {
    @include mq(tab) {
      right: 30px;
    }
    @include mq(sp) {
      right: 10px;
    }
  }
  .slick-prev {
    left: 10px;
    z-index: 1;
  }
}

