<span class="nav_toggle">
  <i></i>
  <i></i>
  <i></i>
</span>
<nav class="nav">
  <ul class="nav_menu_ul">
    <li class="nav_menu_li"><a href="#">NEWS</a></li>
    <li class="nav_menu_li"><a href="#">PROFILE</a></li>
    <li class="nav_menu_li"><a href="#">CONTENTS</a></li>
    <li class="nav_menu_li"><a href="#">MOVIE</a></li>
    <li class="nav_menu_li"><a href="#">LIVE</a></li>
    <li class="nav_menu_li"><a href="#">GOODS</a></li>
    <li class="nav_menu_li"><a href="#">CONTACT</a></li>
  </ul>
</nav>